/* General Styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ff0000;
}

.active {
  background-color: #000000;
}

h1 {
  text-align: center;
  color: #ffffff;
}

p {
  border: 2px solid black;
  padding: 25px;
  background-color: white;
}



/* OverOns.html */
#OW {
  float: left;
}

#OM {
  float: right;
}

/* index.html */
#titlez {
  background-color: #0008ff;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

/* canvas.html */
#h1canvas {
  background-color: #000000;
  border: 1px solid black;
  padding: 5px;
}

#imgcanvas {
  float: right;
}

#canvasbody {
  background-color: #86d400
}

table {
  background-color: white;
}

hr {
 height:2px; 
 border-width:0; 
 color:black; 
 background-color:black; 
}

/* Media Queries */
@media (max-width:991px) {
 h1 { 
   text-align:right; 
   padding-right :20px; 
   color:#ff0000; 
 }
}

/* Form Styles */
form { 
 margin :0 auto; 
 width :300px; 
} 

input[type="text"], input[type="email"], input[type="date"], input[type="url"], textarea { 
 width :100%; 
 padding :12px; 
 border :1px solid #ccc; 
 border-radius :4px; 
 box-sizing :border-box; 
 margin-top :6px; 
 margin-bottom :16px; 
} 

input[type="submit"] { 
 width :100%; 
 background-color :#4CAF50; 
 color :white; 
 padding :14px; 
 border :none; 
 border-radius :4px; 
} 

input[type="submit"]:hover { 
 background-color :#45a049; 
}

iframe{ float: right;}

#logo{ float: left;
background-color: white;}


@keyframes color {
  0%   { background: #b50aff; }
  20%  { background: #c10027; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #23fffb; }
  100% { background: #e37500; }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}
h1 {
  text-align: center;
  font-family: 'Kavoon', sans-serif;
  font-size: 2.5em;
  color: white;
}